* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --prim-color: rgb(46, 43, 43);
    --prim-backg: rgb(192, 192, 188);
    --secn-backg: #bbb6b6;
    --secn-color: #969393;
}

nav {
    color: var(--prim-color);
    box-shadow: 1px 2px 4px var(--prim-color);
    padding: 2px;
}

.ctn-content {
    margin-top: 10px;
    background: var(--secn-backg);
    padding: 4px;
    border: 1px solid var(--prim-color);
}

h2 {
    font-weight: normal;
}

.ctn-content h2::after {
    content: "";
    display: block;
    height: 1px;
    background: var(--prim-color);
}

ul, li {
    margin: 2px 10px;
}

h4 {
    margin-top: 6px;
}

h3:after, h4:after {
    content: "";
    display: block;
    background: var(--secn-color);
    height: 1px;
}

#base-url, #api-auth, #res-code, #routes, #data-note, #res-examp{
    margin: 4px 0px;
    padding: 4px;
}

.ctn-bu, .ctn-au, .ctn-rc, .ctn-r, .ctn-hn, .ctn-re{
    font-size: large;
    margin: 2px 4px;
}

span {
    background: var(--secn-backg);
    padding: 1px;
}

.res-exam {
    background: var(--secn-backg);
    border: 1px solid var(--prim-color);
    padding: 8px;
    margin: 8px 0px;
    width: 350px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: monospace;
}

@media screen and(max-width: 600px) {
    .ctn-bu, .ctn-au, .ctn-rc, .ctn-r, .ctn-hn, .ctn-re{
        font-size: small;
    }

    .res-exam {
        width: 150px;
    }
}